{
  "extends": "loopback",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules" :{
    "comma-dangle": [ "error", "never"],
    "max-len": ["error", 150],
    "no-unused-vars": ["error"],
    "arrow-parens": ["error", "as-needed"]
  }
}
